.navigation {
  background-color: #e0e0d8;
}
.navigation h1 {
  float: left;
}
.navigation .primary {
  float: right;
}
.navigation .primary  > li  > a {
  color: #555555;
  background-color: #a6a7a2;
  border-color: #a6a7a2;
}
.navigation .primary  > li  > a:hover {
  color: #ffffff;
}
.navigation .primary  > .active > a,
.navigation .primary  > .active > a:hover,
.navigation .primary  > .active > a:focus {
  color: #555555;
  background-color: #ffffff;
  border-color: #ffffff;
}
.breadcrumb {
  float: left;
  padding-left: 0;
  margin-bottom: 0;
  clear: left;
  background-color: #e0e0d8;
}
.breadcrumb  > li  + li:before {
  color: #555555;
}
.page {
  padding-top: 15px;
}
.page .secondary {
  float: right;
  padding-bottom: 15px;
}
.in-maintenance .logo {
  max-width: 180px;
  margin-bottom: 1.5em;
}
.in-maintenance .task-list {
  padding-left: 0;
  margin-left: 0;
  list-style-type: none;
  list-style-image: none;
}
.in-maintenance .task-list li {
  padding: 0.5em 1em 0.5em 20px;
  color: #adadad;
}
.in-maintenance .task-list li:before {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.in-maintenance .task-list .active {
  color: #adadad;
}
.in-maintenance .task-list .active:before {
  content: "\e080\00a0";
}
.in-maintenance .task-list .done {
  color: green;
}
.in-maintenance .task-list .done:before {
  content: "\e013\00a0";
}
