.in-maintenance {
    .logo {
        max-width: 180px;
        margin-bottom: 1.5em;
    }
    .task-list {
        padding-left: 0;
        margin-left: 0;
        list-style-type: none;
        list-style-image: none;
        li {
            padding: 0.5em 1em 0.5em 20px;
            color: #adadad;
            &:before {
                position: relative;
                top: 1px;
                display: inline-block;
                font-family: 'Glyphicons Halflings';
                font-style: normal;
                font-weight: normal;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        .active {
            color: #adadad;
            &:before {
                content: "\e080\00a0";
            }
        }
        .done {
            color: green;
            &:before {
                content: "\e013\00a0";
            }
        }
    }
}
