.navigation {
    background-color: #e0e0d8;
    h1 {
        float: left;
    }
    .primary {
        float: right;
        & > li {
            & > a {
                color: #555555;
                background-color: #a6a7a2;
                border-color: #a6a7a2;
                &:hover {
                    color: #ffffff;
                }
            }
        }
        & > .active > a,
        & > .active > a:hover,
        & > .active > a:focus {
            color: #555555;
            background-color: #ffffff;
            border-color: #ffffff;
        }
    }
}
.breadcrumb {
    float: left;
    padding-left: 0;
    margin-bottom: 0;
    clear: left;
    background-color: #e0e0d8;
    & > li {
        & + li:before {
            color: #555555;
        }
    }
}
.page {
    padding-top: 15px;
    .secondary {
        float: right;
        padding-bottom: 15px;
    }
}
